<%= form_with(model: note, local: true) do |form| %>
    <div class='note-form'>
    <div class='title'>
      <%= form.text_area :title, placeholder: "Title", class: 'title' %>
    </div>

    <div class='body'>       
      <%= form.text_area :body, placeholder: "Description", class: 'body' %>
    </div>

    <div>
      <%= form.submit class: 'navigation-link submit' %>
    </div>
    </div>
<% end %>