  <div class='new-note'>
    <h1>New note</h1>
    
    <%= render 'form', note: @note %>

    <nav class='navigation'>
      <%= link_to 'Back', notes_path, class: 'navigation-link' %>
    </nav>
    </div>
