.errors-wrapper {
  background-color: #ff4949;
  width: 100%;
  padding: 0 1rem;
  .error-header {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  .errors-list {
    list-style: none;
    margin: 0 0 1rem 1rem;
    padding: 0;
    .errors-list-item {
      font-size: 12px;
    }
  }
}
